<!doctype html>
<html>

<head>
    <title>Skiron</title>
    <link rel="stylesheet" type="text/css" href="">
</head>
<body class="no-skin">
    <div id="root"><%- app %></div>
<script id="props" type="application/json"></script>
</body>
<script type="text/javascript " charset="utf-8 " src="/index.js "></script>
</html>